[Unit]
Description=SSHFS envy home
After=network-online.target
Wants=network-online.target

[Mount]
What=envy:/home/vlhnhp
Where=/home/vlhnx230/mnt/ssh/envy/home
Type=fuse.sshfs
Options=rw,_netdev,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3
TimeoutSec=30

[Install]
WantedBy=default.target
