[Unit]
Description=Rclone Google Drive mount
After=network-online.target
Wants=network-online.target

[Mount]
What=gcloud:
Where=/home/vlhnx230/mnt/cloud/gdrive
Type=rclone
Options=rw,_netdev,vfs-cache-mode=writes,vfs-cache-max-size=2G,vfs-write-back=1s,dir-cache-time=30s,poll-interval=15s
TimeoutSec=30

[Install]
WantedBy=default.target
