{{- $themeName := "rose" -}}
{{- if hasKey . "theme" -}}{{- $themeName = .theme -}}{{- end -}}
{{- if and (not (hasKey .themes $themeName)) (hasKey .theme_aliases $themeName) -}}{{- $themeName = index .theme_aliases $themeName -}}{{- end -}}
{{- if not (hasKey .themes $themeName) -}}{{- $themeName = "rose" -}}{{- end -}}
{{- $theme := index .themes $themeName -}}
general {
    gaps_in             = 0
    gaps_out            = 0
    border_size         = 3
    col.active_border   = rgb({{ $theme.accent }})
    col.inactive_border = rgb({{ $theme.surface }})
    layout              = dwindle
    allow_tearing       = false
}

decoration {
    rounding = 0
    shadow {
        enabled = false
        range = 18
        render_power = 2
        color = rgba(00000055)
    }
    blur {
        enabled = false
        size = 5
        passes = 2
        vibrancy = 0.16
    }
}

animations {
    enabled = false
    bezier = workbench, 0.18, 0.9, 0.2, 1.0
    animation = windows, 1, 4, workbench, popin 87%
    animation = border, 1, 5, workbench
    animation = fade, 1, 4, workbench
    animation = workspaces, 1, 4, workbench, slide
}

dwindle {
    preserve_split = true
    smart_split = true
    smart_resizing = true
}

misc {
    disable_hyprland_logo    = true
    disable_splash_rendering = true
    mouse_move_enables_dpms  = true
    key_press_enables_dpms   = true
}
